N8N_HOST=<ROOT_HOSTNAME>
N8N_PORT=5678
N8N_USER=<USER_EMAIL>
N8N_PASSWORD=<USER_PASS>
N8N_PROTOCOL=https
NODE_ENV=<development|production>
GENERIC_TIMEZONE=Europe/Lisbon
WEBHOOK_URL=https://<ROOT_HOSTNAME>
N8N_EDITOR_BASE_URL=https://<ROOT_HOSTNAME>
N8N_COMMAND=<COMMAND>
# Owner account
N8N_OWNER_EMAIL=you@email.com
N8N_OWNER_FIRST_NAME=First
N8N_OWNER_LAST_NAME=N8N_LAST_NAME
N8N_OWNER_PASSWORD=pass

