# Environment selection: local / production
ENV=<local|production>
LOG_LEVEL=INFO|DEBUG

# n8n
N8N_PORT=5678
N8N_HOST=<ROOT_HOSTNAME>
N8N_PROTOCOL=https
WEBHOOK_URL=https://<ROOT_HOSTNAME>
N8N_EDITOR_BASE_URL=https://<ROOT_HOSTNAME>
NODE_ENV=production
GENERIC_TIMEZONE=Europe/Lisbon
N8N_ENCRYPTION_KEY= # Generate with 'openssl rand -hex 32'
N8N_DATA_DIR= # Directory to store data from N8N container 

# PostgreSQL / pgvector
DB_HOST=db
DB_PORT=5432
DB_NAME=alfred_db
DB_USER=alfred_app
DB_PASSWORD=alfred_app_password
DB_ADMIN_USER=alfred_admin
DB_ADMIN_PASSWORD=alfred_admin_password
DB_DATA_DIR= # Directory to store data from DB container 
N8N_DB_NAME=n8n_db
N8N_DB_USER=alfred_n8n
N8N_DB_PASSWORD=alfred_n8n_password
N8N_DB_HOST=${DB_HOST}
N8N_DB_PORT=${DB_PORT}

# FastAPI backend
BACKEND_PORT=8000
BACKEND_HOST=0.0.0.0
BACKEND_RELOAD=false
ALFRED_API_TOKEN=TOKEN
DATABASE_URL=postgresql+asyncpg://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}
DATABASE_ADMIN_URL=postgresql+asyncpg://${DB_ADMIN_USER}:${DB_ADMIN_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}
VECTOR_EXTENSION=pgvector
NOTION_API_KEY=api_key
NOTION_BASE_URL=url
NOTION_API_VERSION=version
NOTION_TASKS_DATABASE_ID=task_db_id
NOTION_NOTES_DATABASE_ID=note_db_id
GOOGLE_CALENDAR_CLIENT_ID=client_id
GOOGLE_CALENDAR_CLIENT_SECRET=client_secret
GOOGLE_CALENDAR_OAUTH_REDIRECT_URI=https://<ROOT_HOSTNAME>/integration/google-calendar/oauth/callback
GOOGLE_CALENDAR_ID=primary
GOOGLE_API_KEY=api_key # aistudio.google.com
EMBEDDING_MODEL=all-MiniLM-L6-v2
LLM_CHAT_MODEL=gemini-2.0-flash
LLM_EXTRACTION_MODEL=gemini-2.0-flash-lite
INTENT_THRESHOLD=0.75